.current {
  color: currentColor;
}
.selected {
  color: #8df506;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #8df506;
  text-decoration: none;
}
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
}
.list:hover {
  transform: scale(1.1);
}
.list {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
